<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/fonts.css">
    <title>Upit</title>
</head>
<body>
    {{ template "headerConnect" .}}
    <div class="not-header">
        <div class="left-navbar">
            {{ template "leftnavbarconnect" .}}
        </div>
        <div class="content">
            {{if .IsAdmin}}
            test
            {{else}}
            bah t pas admin mon reuf
            {{end}}
        </div>
    </div>
    <script>
        document.querySelectorAll(".topic-header-info span").forEach(element => {
            formatRelativeTime(element);
        });

        document.querySelectorAll("item-list-topic a").forEach(element => {
            formatEllipsis(element);
        });
    </script>
    <style>
        .popular-title {
            color: #FF4500;
        }
    </style>
</body>
</html>