<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/fonts.css">
    <link rel="stylesheet" href="CSS/adminPannel.css">
    <script src="../../../JS/adminScript.js"></script>
    <script src="../../../JS/format.js"></script>
            <title>Upit</title>
</head>
<body>
    {{ template "headerConnect" .}}
    <div class="not-header">
        <div class="left-navbar">
            {{ template "leftnavbarconnect" .}}
        </div>
        <div class="content">
            {{if .IsAdmin}}
                <div class="panel-componant">
                    <h1>Ajouter un role à un utilisateur</h1>
                    <form onsubmit='return false'>
                        <select name="roles" id="roles">
                            {{range $r := .Roles}}
                            <option name="role" value="{{$r.Name}}">{{$r.Name}}</option>
                            {{end}}
                        </select>
                        <input name="username" placeholder="username" rows="1">
                        <input type="submit" value="Submit" onclick="AddRole(this.form.roles.value, this.form.username.value)">
                    </form>
                </div>
                <div class="panel-componant">
                    <h1>Rénitiliser les roles d'un utilisateur</h1>
                    <form onsubmit='return false'>
                        <input name="username" placeholder="username" rows="1">
                        <input type="submit" value="Submit" onclick="SupprUserRole(this.form.username.value)">
                    </form>
                </div>
                <div class="panel-componant">
                    <h1>Créer un role</h1>
                    <form class="column">
                        <div class="permlist">
                            {{range $p:= .Permissions}}
                                <div class="perm">
                                    <input class="permsClass" type="checkbox" id="{{$p.Id}}" name="perms" value="{{$p.Name}}"><label for="{{$p.Id}}"> {{$p.Description}}</label></input>
                                </div>
                            {{end}}
                        </div>
                        <div class="role">
                            <input name="rolename" placeholder="rolename" rows="1">
                            <input type="color" id="head" name="color" value="#e66465">
                            <input type="submit" value="Submit" onclick="CreateRole(this.form.rolename.value, this.form.color.value)">
                        </div>
                    </form>
                </div>
                <div class="panel-componant">
                    <h1>Supprimer un role</h1>
                    <form>
                        <select name="roles" id="roles">
                            {{range $r := .Roles}}
                            <option name="role" value="{{$r.Name}}">{{$r.Name}}</option>
                            {{end}}
                        </select>
                        <input type="submit" value="Submit" onclick="SupprRole(this.form.roles.value)">
                    </form>
                </div>
                <div class="panel-componant column">
                    <h1>Liste des messages signalés</h1>
                    {{template "message-panel-admin" .}}
                </div>
            {{else}}
            bah t pas admin mon reuf
            <button onclick="rickrolled()">cliquez pour avoir les droits d'admin</button>
            {{end}}
        </div>
    </div>
    <script>
        document.querySelectorAll(".topic-header-info span").forEach(element => {
            formatRelativeTime(element);
        });

        document.querySelectorAll("item-list-topic a").forEach(element => {
            formatEllipsis(element);
        });

        function rickrolled() {
            document.getElementsByClassName('content')[0].style.backgroundImage = "url('/../assets/images/rick.gif')";
        }

        document.querySelectorAll(".topic-detail-ctn-content .user-info-and-text .left-part h4").forEach(element => {
            formatRelativeTime(element);
        });
    </script>
</body>
</html>