<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/fonts.css">
    <title>Upit</title>
</head>
<body>
    {{ template "headerConnect" .}}
    <div class="not-header">
        <div class="left-navbar">
            {{ template "leftnavbar" .}}
        </div>
        <div class="content">
            <div class="topics">
                <h1>Popular  Topics</h1>
                {{ template "topic" .}}
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll(".topic-header-info span").forEach(element => {
            formatRelativeTime(element);
        });
    </script>
</body>
</html>