<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/fonts.css">
    <title>Upit</title>
</head>
<body>
    {{ template "headerConnect" .}}
    <div class="not-header">
        <div class="left-navbar">
            {{ template "leftnavbar" .}}
        </div>
        <div class="content">
            <h1>Page de test</h1>
            <h2>Result : <span id="towrite"></span></h2>
            <form style="font-size: 32px" onsubmit="return false">
                <input type="text" name="email" placeholder="email" style="font-size: 32px">
                <input type="password" name="password" placeholder="password" style="font-size: 32px">
                <input type="submit" value="login" onclick="testlogin(this.form.email.value, this.form.password.value)" style="font-size: 32px">
            </form>

            <form method="POST" action="/" onsubmit="redirectToRootWithToken(this.token.value)">
                <input name="token" class="formulaire">
            </form>
            {{ template "formTopic" .}}
            <script>
                function helloworld() {
                    fetch('/helloworld')
                    .then(response => response.text())
                    .then(data => console.log(data))
                    .catch(error => console.error(error));
                }
            </script>
        </div>
    </div>
</body>
</html>
