{{define "creationTopic"}}
<link rel="stylesheet" href="../CSS/formTopic.css">
<div class="formTopic">
    <form onsubmit="return false" class="create-topic">
        <h1>Create your topic</h1> 
        <h2>Title of the topic</h2>
        <p>Choose a title that will be clear and concise <i>(max 255 characters)</i></p>
        <textarea name="name" placeholder="Title"></textarea>
        <h2>Tags</h2>
        <p>Tags are used to find topics, you can add up to three by topic</p>
        <div class="tags">
            <input type="text" name="tag1" placeholder="First tag">
            <input type="text" name="tag2" placeholder="Second tag">
            <input type="text" name="tag3" placeholder="Third tag">
        </div>
        <h2>Topic Description</h2>
        <p>Describe your topic in a few words</p>
        <textarea name="description" placeholder="Description" rows="5"></textarea>
        <div class="checkbox">
            <div class="text">
                <h2>Topic Privacy</h2>
                <p>Public topics can be seen by anyone, private topics can only be seen by the members of Upit</p>
            </div>
            <div class="toggle-button">
                <input type="checkbox" id="private" name="private" value="true">
                <label for="private"></label>
            </div>
        </div>
        <input type="number" name="userid" placeholder="userid" value="{{.User.Id}}" style="display: none;">
        <p id="create-topic-info"></p>
        <input type="submit" value="Create topic" onclick="createTopic(this.form.name.value, this.form.description.value, this.form.private.checked, this.form.userid.value, [this.form.tag1.value, this.form.tag2.value, this.form.tag3.value])">
    </form>
</div>

<script>
    function createTopic(name, description, isPrivate, userid, tags) {
        for (let i = 0; i < tags.length; i++) {
            if (tags[i] == '') {
                tags.splice(i, 1);
            }
        }
        if (tags.length == 0) {
            tags = null;
        }
        fetch('/topicCreate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                Title: name,
                Content: description,
                Private: JSON.parse(isPrivate),
                UserID: parseInt(userid),
                Tags: tags
            })
        })
        .then(response => response.text())
        .then(data => {
            console.log(data);
            document.getElementById("create-topic-info").innerHTML = data;
        })
        .catch(error => console.error(error));

    }
</script>
{{end}}