{{define "topic"}}
<link rel="stylesheet" href="../CSS/topic.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/../JS/format.js"></script>
    {{range $v := .SortedTopics}}
        {{ if $v.Topic_private}}
            {{ if gt $.User.Id 0}} 
                <div class="topic-item">
                    <div class="topic-interactions">
                        <p class="view"></p>
                        <script>formatNumber({{$v.Topic_nb_views}})</script>
                    </div>
                    <div class="topic-right">
                        <div class="topic-header">
                            <div class="topic-header-left">
                                <div class="topic-tag-list">
                                    {{range $t := $v.Tags}}
                                    <div class="topic-tag">
                                        <p style="background-color: {{$t.Color}};">#{{$t.Name}}</p>
                                    </div>
                                    {{end}}
                                </div>
                                <p class="topic-header-info">Posted by @{{$v.User_username}} | <span>{{$v.Topic_created_at}}</span></p>
                            </div>
                            {{range $b := $v.AllFollowers}}
                                {{if eq $b.User_id $.User.Id}}
                                    <img class="btn-topic-header-right" src="../assets/images/signet-full.png" alt="plus" onclick="removeBookmark(this, {{$v.Topic_id}}, {{$.User.Id}})" onload="this.nextElementSibling.style.display = 'none'">                
                                {{end}}
                            {{end}}
                            <img class="btn-topic-header-right" src="../assets/images/signet.png" alt="plus" onclick="addBookmark(this, {{$v.Topic_id}}, {{$.User.Id}})">
                        </div>
                        <a href="/topic/{{$v.Topic_id}}">
                            <h1 class="topic-title">{{$v.Topic_name}}</h1>
                            <p class="topic-description">{{$v.Topic_description}}</p>
                        </a>
                        <div class="topic-footer">
                            <div class="topic-section">
                                <img src="../assets/images/commentaires.png" alt="commentaires">
                                <p>{{$v.Nb_messages}} comments</p>
                            </div>
                            <div class="topic-section" onclick="this.parentElement.parentElement.parentElement.style.display = 'none';" style="cursor : pointer;">
                                <img src="../assets/images/cacher.png" alt="hide">
                                <p>Hide</p>
                            </div>
                             {{if eq $.User.Username $v.User_username}}
                                <div class="topic-section" onclick="deleteTopic({{$v.Topic_id}}, {{$.User.Id}})">
                                    <img src="../assets/images/delete.png" alt="delete">
                                    <p>Delete</p>
                                </div>
                            {{end}}
                        </div>
                    </div>
                </div>
            {{end}}
        {{else}}
            <div class="topic-item">
                <div class="topic-interactions">
                    <p class="view"></p>
                    <script>formatNumber({{$v.Topic_nb_views}})</script>
                </div>
                <div class="topic-right">
                    <div class="topic-header">
                        <div class="topic-header-left">
                            <div class="topic-tag-list">
                                {{range $t := $v.Tags}}
                                <div class="topic-tag">
                                    <p style="background-color: {{$t.Color}};">#{{$t.Name}}</p>
                                </div>
                                {{end}}
                            </div>
                            <p class="topic-header-info">Posted by @{{$v.User_username}} | <span>{{$v.Topic_created_at}}</span></p>
                        </div>
                        {{range $b := $v.AllFollowers}}
                            {{if eq $b.User_id $.User.Id}}
                                <img class="btn-topic-header-right" src="../assets/images/signet-full.png" alt="plus" onclick="removeBookmark(this, {{$v.Topic_id}}, {{$.User.Id}})" onload="this.nextElementSibling.style.display = 'none'">                
                            {{end}}
                        {{end}}
                        <img class="btn-topic-header-right" src="../assets/images/signet.png" alt="plus" onclick="addBookmark(this, {{$v.Topic_id}}, {{$.User.Id}})">
                    </div>
                    <a href="/topic/{{$v.Topic_id}}">
                        <h1 class="topic-title">{{$v.Topic_name}}</h1>
                        <p class="topic-description">{{$v.Topic_description}}</p>
                    </a>
                    <div class="topic-footer">
                        <div class="topic-section">
                            <img src="../assets/images/commentaires.png" alt="commentaires">
                            <p>{{$v.Nb_messages}} comments</p>
                        </div>
                        <div class="topic-section" onclick="this.parentElement.parentElement.parentElement.style.display = 'none';" style="cursor : pointer;">
                            <img src="../assets/images/cacher.png" alt="hide">
                            <p>Hide</p>
                        </div>
                        {{if eq $.User.Username $v.User_username}}
                            <div class="topic-section" onclick="deleteTopic({{$v.Topic_id}}, {{$.User.Id}})">
                                <img src="../assets/images/delete.png" alt="delete">
                                <p>Delete</p>
                            </div>
                        {{end}}
                    </div>
                </div>
            </div>
        {{end}}
    {{end}}
<script>
    function deleteTopic(topicId, userId) {
        if (confirm("Are you sure you want to delete this topic ?")) {
            fetch('/topicDelete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    TopicID: topicId,
                    UserID: userId
                })
            })
            .then(response => response.text())
            .then(data => {
                data = JSON.parse(data);
                if (data.success) {
                    window.location.href = "/";
                } else {
                    alert(data.info);
                }
            })
            .catch(error => console.error(error));
        }
    }

    function addBookmark(element, topicId, userId) {
        if (element.src.includes("signet-full.png")) {
            removeBookmark(element, topicId, userId);
        } else {
            fetch('/bookmarkAdd', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    TopicID: topicId,
                    UserID: userId
                })
            })
            .then(response => response.text())
            .then(data => {
                data = JSON.parse(data);
                if (data.success) {
                    element.src = "../assets/images/signet-full.png";
                } else {
                    alert(data.info);
                }
            })
            .catch(error => console.error(error));
        }
    }

    function removeBookmark(element, topicId, userId) {
        if (element.src.includes("signet-full.png")) {
            fetch('/bookmarkRemove', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    TopicID: topicId,
                    UserID: userId
                })
            })
            .then(response => response.text())
            .then(data => {
                data = JSON.parse(data);
                if (data.success) {
                    element.src = "../assets/images/signet.png";
                } else {
                    alert(data.info);
                }
            })
            .catch(error => console.error(error));
        } else {
            addBookmark(element, topicId, userId);
        }
    }
</script>
{{end}}