    <link rel="stylesheet" href="../CSS/header.css">
    <script src="../JS/header.js"></script>

    <header id="reddit-header">
        <div class="header-ctn">
            <div id="logo">
                <div class="img-ctn">
                    <img src="../assets/reddit-icon-white.png" alt="Logo Reddit">
                </div>
                <h1>Upit</h1>
            </div>
            <div id="search-box">
                <input type="text" id="search-input">
            </div>
            <div class="login-section">
                <div class="button1">
                <button id="login-button">Se connecter</button>
                </div>
                <div class="button2">
                <button id="signup-button">S'inscrire</button>
                </div>
                <div id="user-section">
                    <div id="user-img-ctn">
                        <img src="../assets/compte.png" alt="User icon">
                    </div>
                </div>
            </div>
        </div>
    </header>

