{{define "headerConnect"}}
{{$user := .Token}}
<link rel="stylesheet" href="../CSS/header.css">
<script src="../JS/header.js"></script>

<header class="upit-header connected">
    <div class="header-ctn">
        <div class="logo">
            <a href="/">
                <div class="img-ctn">
                    <img src="../assets/images/reddit-icon-white.png" alt="Logo Upit">
                </div>
                <h1>Upit</h1>
            </a>
        </div>
        <div class="header-search-box">
            <div class ="search-icon-ctn">
                <img src="../assets/images/chercher.png" alt="Search icon">
            </div>
            <input type="text" class="search-input" placeholder="Search Upit">
        </div>
        <div class="header-login-section">
            <div class="header-class-user">
            <p class="login-class">{{$user.Username}}</p>
            </div>
            <div class="user-section">
                <div class="user-img-ctn">
                    <img src="../assets/images/compte.png" alt="User icon">
                </div>
                <div class="user-img-ctn2">
                    <img src="../assets/images/arrow-bottom.png" alt="User icon">
                </div>
            </div>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="/termsofservice"><img src="../assets/images/terms-of-use-white.png" alt="terms of use logo">Terms of use</a></li>
                <li><a href="/privacypolicy"><img src="../assets/images/privacy-policy-white.png" alt="privacy policy logo">Privacy Policy</a></li>
                <li>
                    <form method="POST">
                    <button type="submit" name="resetToken" value="a" class="user-section" id="connected">
                    <a onclick="changeValue()"><img src="../assets/images/logout-white.png" alt="log out logo" id="log-out-img">Disconnect</a>
                    </button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
    <script>
        document.querySelector(".user-section").addEventListener("click", function() {
            document.querySelector(".menu").classList.toggle("active");
            document.querySelector(".user-section").classList.toggle("active");
        });
    </script>
</header>
<script src="../JS/token.js"></script>
{{end}}