    <link rel="stylesheet" href="../CSS/header.css">
    <script src="../JS/header.js"></script>

    <header id="reddit-header">
        <div id="logo">
            <div class="img-ctn">
                <img src="../assets/reddit-icon-white.png" alt="Logo Reddit">
            </div>
            <h1>Upit</h1>
        </div>
        <div id="search-box">
            <input type="text" id="search-input" placeholder="Recherche">
            <button id="search-button">Rechercher</button>
        </div>
        <div id="login-section">
            <button id="login-button">Se connecter</button>
            <button id="signup-button">S'inscrire</button>
        </div>
    </header>
