<link rel="stylesheet" href="../CSS/leftnavbar.css">
<link rel="stylesheet" href="../CSS/fonts.css">
<script src="../JS/leftnavbar.js"></script>



<div class="left-sticky-nav-bar">
    <h2 class="trendings-tags-title">Trending tags</h2>
    <div class="trendings-tags">
        <div class="item">
            <div class="title-line" onclick="toggleContent(this)">
                <h2 class="title">Category 1</h2>
                <span class="arrow">▶</span>
            </div>
            <div class="item-list-topic">
                <a href="#">Sub Category 1</a>
                <a href="#">Sub Category 2</a>
                <a href="#">Sub Category 3</a>
            </div>
        </div>
    </div>
</div>


