<link rel="stylesheet" href="../CSS/leftnavbar.css">
<link rel="stylesheet" href="../CSS/fonts.css">
<script src="../JS/leftnavbar.js"></script>

<div class="left-sticky-nav-bar">
    <h2 class="title" id="feed-title">Feeds</h2>
    <div class="feed">
        <div>
            <img src="../assets/images/popular.png" alt="popular">
            <h2 class="popular-title">Popular</h2>
        </div>
        <div>
            <img src="../assets/images/signet-full.png" alt="folowing">
            <h2 class="folowing-title">Following</h2>
        </div>
    </div>
        <h2 class="title" id="trending-title">Trending tags</h2>
    <div class="trendings-tags">
        <div class="item">
            <div class="title-line" onclick="toggleContent(this)">
                <h2 class="item-title">Category 1</h2>
                <span id="fleche" class="arrow"><img src="../assets/images/arrow-navbar.png" alt="fleche"></span>
            </div>
            <div class="item-list-topic">
                <a href="#">Sub Category 1</a>
                <a href="#">Sub Category 2</a>
                <a href="#">Sub Category 3</a>
            </div>
        </div>
    </div>
</div>