<link rel="stylesheet" href="../CSS/message.css">
<link rel="stylesheet" href="../CSS/fonts.css">
<script src="../JS/topic-detail.js"></script>

    <div class="topic-detail-ctn">
        <div class="topic-detail-ctn-title">
            <h1>Topic Detail</h1>
        </div>
         <div class="topic-up-vote">
             <label class="container">
  	            <input type="checkbox">
  	             <img class="img-unchecked up"  src="../assets/images/arrow.png" >
                    <img class="img-checked"    src="../assets/images/full-arrow-green.png" >
            </label>
         </div>
         <div class="topic-down-vote">
             <label class="container">
  	            <input type="checkbox">
                    <img class="img-unchecked down"  src="../assets/images/arrow.png" >
                    <img class="img-checked "    src="../assets/images/full-arrow-red.png" >
            </label>
         </div>
        <div class="topic-detail-ctn-content">
            <div class="topic-detail-ctn-content-title">
                <h2>Topic Title</h2>
            </div>
            <div class="topic-detail-ctn-content-info">
                <div class="topic-detail-ctn-content-info-user">
                    <div class="topic-detail-ctn-content-info-user-avatar">
                        <img src="../IMG/avatar.png" alt="user-img">
                    </div>
                    <div class="topic-detail-ctn-content-info-user-name">
                        <h3>Username</h3>
                    </div>
                </div>
                <div class="topic-detail-ctn-content-info-date">
                    <h3>2 days ago</h3>
                </div>
            </div>
            <div class="topic-detail-ctn-content-content">
                <p>Lorem ipsum
            </div>
        </div>
     </div>