<link rel="stylesheet" href="../CSS/message.css">
<link rel="stylesheet" href="../CSS/fonts.css">
<script src="../JS/topic-detail.js"></script>

    <div class="topic-detail-ctn">
    <div class="topic-up-down-ctn">
        <div class="topic-up-vote">
            <label class="container">
                <input type="checkbox">
                <img class="img-unchecked up arrow-ctn" src="../assets/images/arrow.png" >
                <img class="img-checked arrow-ctn" src="../assets/images/full-arrow-green.png" >
            </label>
        </div>
        <div class="topic-down-vote">
            <label class="container">
                <input type="checkbox">
                <img class="img-unchecked down arrow-ctn" src="../assets/images/arrow.png" >
                <img class="img-checked arrow-ctn" src="../assets/images/full-arrow-red.png" >
            </label>
        </div>
    </div>
    <div class="topic-detail-ctn-content">
        <div class="user-info-and-text">
            <div class="topic-detail-ctn-content-info">
                <div class="topic-detail-ctn-content-info-user">
                    <div class="topic-img-username-date-ctn">
                        <div class="topic-detail-ctn-content-info-user-avatar">
                            <img src="../assets/images/topic_icon.png" alt="user-img">
                        </div>
                        <div class="topic-detail-ctn-content-info-user-name">
                            <h3>Username</h3>
                        </div>
                        <div class="topic-detail-ctn-content-info-date">
                            <h3>2 days ago</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flag-report-ctn">
            <img class="flag" src="../assets/images/report.png" alt="flag">
            <h4>Report</h4>
        </div>
    </div>
</div>
