<link rel="stylesheet" href="../CSS/topic.css">
<link rel="stylesheet" href="../CSS/fonts.css">
<div class="topic-item">
    <div class="topic-interactions">
        <p>{{.Vues}} vues</p>
    </div>
    <div class="topic-right">
        <div class="topic-header">
            <div class="topic-header-left">
                <div class="topic-tag-list">
                    {{for .Tags}}
                    <div class="topic-tag">
                        <p>{{.Tags.Tag}}</p>
                    </div>
                    {{end}}
                </div>
                <p class="topic-header-info">Posted by @{{.User}} | {{.Date}}</p>
            </div>
            <img class="btn-topic-header-right" src="../assets/images/signet.png" alt="plus">
        </div>
        <h1 class="topic-title">{{.Title}}</h1>
        <p class="topic-description">{{.Message}}</p>
        <div class="topic-footer">
            <div class="topic-section">
                <img src="../assets/images/commentaires.png" alt="commentaires">
                <p>{{.NbComments}} comments</p>
            </div>
            <div class="topic-section">
                <img src="../assets/images/cacher.png" alt="hide">
                <p>Hide</p>
            </div>
            <div class="topic-section">
                <img src="../assets/images/report.png" alt="report">
                <p>Report</p>
            </div>
        </div>
    </div>
</div>