{{define "topic"}}
<link rel="stylesheet" href="../CSS/topic.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{range $v := .Data}}
<div class="topic-item">
    <div class="topic-interactions">
        <p>{{$v.Topic_nb_views}} vues</p>
    </div>
    <div class="topic-right">
        <div class="topic-header">
            <div class="topic-header-left">
                <div class="topic-tag-list">
                    {{range $t := $v.Tags}}
                    <div class="topic-tag">
                        <p style="background-color: {{$t.Color}};">{{$t.Name}}</p>
                    </div>
                    {{end}}
                </div>
                <p class="topic-header-info">Posted by @{{$v.User_username}} | {{$v.Topic_created_at}}</p>
            </div>
            <img class="btn-topic-header-right" src="../assets/images/signet.png" alt="plus">
        </div>
        <h1 class="topic-title">{{$v.Topic_name}}</h1>
        <p class="topic-description">{{$v.Topic_description}}</p>
        <div class="topic-footer">
            <div class="topic-section">
                <img src="../assets/images/commentaires.png" alt="commentaires">
                <p>{{$v.Nb_messages}} comments</p>
            </div>
            <div class="topic-section">
                <img src="../assets/images/cacher.png" alt="hide">
                <p>Hide</p>
            </div>
            <div class="topic-section">
                <img src="../assets/images/report.png" alt="report">
                <p>Report</p>
            </div>
        </div>
    </div>
</div>
{{end}}
{{end}}