<link rel="stylesheet" href="../CSS/topic.css">
<link rel="stylesheet" href="../CSS/fonts.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="topic-item">
    <div class="topic-interactions">
        <p>27.1k vues</p>
    </div>
    <div class="topic-right">
        <div class="topic-header">
            <div class="topic-header-left">
                <div class="topic-tag-list">
                    <div class="topic-tag">
                        <p style="background-color: {{$t.Color}};">Developer</p>
                    </div>
                </div>
                <p class="topic-header-info">Posted by @mistersquare7 | 2 days ago</p>
            </div>
            <img class="btn-topic-header-right" src="../assets/images/signet.png" alt="plus">
        </div>
        <h1 class="topic-title">How do i exit vim</h1>
        <p class="topic-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget neque felis. Proin eros neque, dignissim non finibus vitae, consequat sit amet nisl. Proin tempor nunc eget porta sollicitudin. Donec justo felis, ultrices a eros quis, fringilla lacinia sem. Aenean suscipit feugiat pulvinar. Duis consectetur risus vitae neque rhoncus, a pellentesque dolor placerat. Sed lectus enim, tincidunt eleifend lorem eu, faucibus viverra felis. Donec ac est imperdiet, dignissim justo id, finibus justo. Ut nulla arcu, euismod ac lectus sed, eleifend viverra elit. Nunc venenatis eros eu facilisis tincidunt. Vivamus iaculis purus nec fringilla euismod.</p>
        <div class="topic-footer">
            <div class="topic-section">
                <img src="../assets/images/commentaires.png" alt="commentaires">
                <p>524 comments</p>
            </div>
            <div class="topic-section">
                <img src="../assets/images/cacher.png" alt="hide">
                <p>Hide</p>
            </div>
            <div class="topic-section">
                <img src="../assets/images/report.png" alt="report">
                <p>Report</p>
            </div>
        </div>
    </div>
</div>