<link rel="stylesheet" href="../CSS/topic.css">
<link rel="stylesheet" href="../CSS/fonts.css">
<div class="topic-item">
    <div class="topic-interactions">
        <p>153.1k vues</p>
    </div>
    <div class="topic-right">
        <div class="topic-header">
            <div class="topic-header-left">
                <div class="topic-tag-list">
                    <div class="topic-tag">
                        <p>Developer</p>
                    </div>
                    <div class="topic-tag">
                        <p>Vim</p>
                    </div>
                    <div class="topic-tag">
                        <p>Linux</p>
                    </div>
                </div>
                <p class="topic-header-info">Posted by @mistersquare7 | 2 days ago</p>
            </div>
            <button class="btn-topic-header-right">Follow</button>
        </div>
        <h1 class="topic-title">How do i exit vim ?</h1>
        <p class="topic-description">I got an Ubuntu machine on which i’m currently stuck in vim and i’m wondering if there is any keyboard shortcut for exiting Vim without forcing, preventing crash ? </p>
        <div class="topic-footer">
            <div class="topic-section">
                <img src="../assets/images/commentaires.png" alt="commentaires">
                <p>523 comments</p>
            </div>
            <div class="topic-section">
                <img src="../assets/images/cacher.png" alt="hide">
                <p>Hide</p>
            </div>
            <div class="topic-section">
                <img src="../assets/images/report.png" alt="report">
                <p>Report</p>
            </div>
        </div>
    </div>
</div>