.formTopic {
    background-color: #1e1e1f;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    width: 100%;
}

.formTopic form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}