* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header-ctn {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1a1a1b;
    height: 100px;
}

#logo img {
    height: 50px;
}

#logo h1 {
    color: #ffffff; 
    font-size: 24px; 
}

#search-box {
    display: flex;
    box-sizing: border-box;
    width: 700px;
    height: 60px;
    background: #272729;
    border: 1px solid #343536;
    border-radius: 15px;
}

.login-section {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 60px;
}

.button1  {
    display: flex;
    width: 200px;
    height: 60px;
    background: #FF4500;
    border-radius: 15px;
}

#login-button {
    display: flex;
    width: 200px;
    height: 60px;
    background: #FF4500;
    border-radius: 15px;
}

.button2 {
    display: flex;
    width: 200px;
    height: 60px;
    background: #ffffff;
    border-radius: 15px;
}

#signup-button {
    display: flex;
    width: 200px;
    height: 60px;
    background: #ffffff;
    border-radius: 15px;
}