* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

.left-sticky-nav-bar {
    display: flex;
    height: 100%;
    width: 20vw;
    background: #1A1A1B;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.trendings-tags-title {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.trendings-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    width: 100%;
    justify-content: space-between;
}

.item {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 20px;
    background: green;
}

.item .title-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.item .title-line .title {
    /* ton css du titre de topic ici */
}

.arrow {
    margin-left: 5px;
}

.item .item-list-topic {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item .item-list-topic .a {
    /* ton css du sub topic ici */
}