* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

.left-sticky-nav-bar {
    display: flex;
    height: 100%;
    width: 100%;
    background: #1A1A1B;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 5px;
    position: relative;
    color: #D7DADC;
}

.feed-title {
    display: flex;
    color: #D7DADC;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 36px;
}

.feed {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 0 20px;
}

#feed-title {
    margin-bottom: 31px;
}

.popular-title, .folowing-title  {
    display: flex;
    color: #D7DADC;
    font-weight: 400;
    font-size: 30px;
}

.feed div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.feed img {
    display: flex;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.title {
    color: #D7DADC;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 36px;
}

.title-line img {
    width: 40px;
    height: 17px;
}

#trending-title {
    margin-top: 40px;
}

.trendings-tags {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

.item {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #D7DADC;
    margin: 20px;
}

.item .title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.arrow {
    margin-left: 5px;
}

.item .item-list-topic {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}