* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

.left-sticky-nav-bar {
    display: flex;
    height: 100%;
    width: 100%;
    background: #1A1A1B;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 5px;
    position: relative;
    color: #D7DADC;
    overflow-y: scroll;
}

.left-sticky-nav-bar::-webkit-scrollbar {
    width: 3px;
}

.left-sticky-nav-bar::-webkit-scrollbar-track {
    background: #1A1A1B;
}

.left-sticky-nav-bar::-webkit-scrollbar-thumb {
    background: #303031;
}

.feed-title {
    display: flex;
    color: #D7DADC;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 36px;
}

.feed {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 0 20px;
}

#feed-title {
    margin-bottom: 31px;
}

.popular-title, .folowing-title  {
    display: flex;
    color: #D7DADC;
    font-weight: 400;
    font-size: 30px;
}

.feed div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.feed img {
    display: flex;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.title {
    color: #D7DADC;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 36px;
}

.title-line img {
    width: 40px;
    height: 17px;
}

#trending-title {
    margin-top: 40px;
}

.trendings-tags {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

.item {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #D7DADC;
    margin: 20px;
}

.item .title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    user-select: none;
    cursor: pointer;
}

.arrow {
    margin-left: 5px;
    
    cursor: pointer;
}

.item .item-list-topic {
    display: none;
    justify-content: center;
    flex-direction: column;
}

.item-list-topic {
    display: flex;
    color: #D7DADC;
    justify-content: flex-start;
    width: 100%;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
}

.item-topic {
    display: flex;
    color: #D7DADC;
    justify-content: flex-start;
    text-decoration: none;
    margin-top: 10px;
    max-height: 40px;
}

/* Pour les écrans d'ordinateurs */
@media (max-width: 1200px) {
    .feed-title, .title {
        font-size: 30px;
    }

    .popular-title, .following-title {
        font-size: 26px;
    }

    .feed img {
        width: 35px;
        height: 35px;
    }

    .title-line img {
        width: 30px;
        height: 15px;
    }
}

/* Pour les écrans de tablettes */
@media (max-width: 768px) {
    .feed-title, .title {
        font-size: 24px;
    }

    .popular-title, .following-title {
        font-size: 22px;
    }

    .feed img {
        width: 30px;
        height: 30px;
    }

    .title-line img {
        width: 25px;
        height: 12px;
    }
}

/* Pour les écrans de mobiles */
@media (max-width: 576px) {
    .feed-title, .title {
        font-size: 20px;
    }

    .popular-title, .following-title {
        font-size: 18px;
    }

    .feed img {
        width: 25px;
        height: 25px;
    }

    .title-line img {
        width: 20px;
        height: 10px;
    }
}