* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.topic-detail-ctn {
    width: 100%;
    display: flex;
    background: #1A1A1B;
    color: #ffffff;
    font-family: "IBM Plex Sans", sans-serif;
}

.topic-detail-ctn-content p {
    margin: 10px;
    padding: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #ffffff;
}

.topic-up-down-ctn {
    display: flex;
    background: #161617;
    width: 70px;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.topic-up-down-ctn p {
    color: #D7DADC;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.topic-detail-ctn-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-info-and-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-part {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
}

.left-part h3 {
    margin-right: 10px;
}

.left-part h4 {
    margin-right: 10px;
    color: #818384;
}

.user-info-and-text img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.container {
    cursor: pointer;
    caret-color: transparent;
    display: block;
}

.arrow-ctn {
    display: flex;
    width: 100px;
    height: 100px;
}

.arrow-ctn.up {
    transform: rotate(-90deg);
}

.arrow-ctn.down {
    transform: rotate(90deg);
}

.container input {
  display: none;
}

.arrow-ctn.up.selected {
    content: url("/../assets/images/full-arrow-green.png");
    transform: rotate(0deg);
}

.arrow-ctn.down.selected {
    content: url("/../assets/images/full-arrow-red.png");
    transform: rotate(0deg);
}

.flag-report-ctn {
    display: flex;
    margin-right: 10px;
    color: #797B7C;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
}

.flag-report-ctn img {
    width: 20px;
    height: 20px;
}
