* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family : 'IBM Plex Sans', sans-serif;
}

.not-header {
    display: flex;
    min-height: calc(100vh - 100px);
    background-color: #030303;
    width: 100%;
    z-index: 0;
}

.content {
    width: 100%;
    padding: 20px 50px;
    color: #fff;
}

.left-navbar {
    height: calc(100vh - 100px);
    width: 25%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 100px;
}

.topics {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
}