* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.topic-item {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #1A1A1B;
    color: #ffffff;
    text-decoration: none;
}

.topic-interactions {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #161617;
    text-align: center;
    border-radius: 10px 0 0 10px;
}

.topic-right {
    width: calc(100% - 70px);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.topic-right a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.topic-right a:hover {
    color: #ff4500;
}

.topic-right a:visited {
    color: #ffffff;
}

.topic-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.topic-header-left {
    display: flex;
    align-items: center;
}

.topic-tag-list {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}

.topic-tag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-tag p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    border-radius: 5px;
    padding: 0 5px;
    background: #45546B;
}

.topic-header-info {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #818384;
}

.btn-topic-header-right {
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.topic-title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
}

.topic-description {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    
}

.topic-footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.topic-section {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #797B7C;
    margin-right: 20px;
}

.topic-section img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}



/* Pour les écrans d'ordinateurs */
@media (max-width: 1200px) {
    .topic-right {
        padding: 15px;
    }

    .topic-title {
        font-size: 30px;
        line-height: 40px;
    }

    .topic-description {
        font-size: 20px;
        line-height: 27px;
    }

    .topic-section {
        font-size: 20px;
        line-height: 27px;
    }

    .topic-tag p, .topic-header-info {
        font-size: 14px;
        line-height: 19px;
    }
}

/* Pour les écrans de tablettes */
@media (max-width: 768px) {
    .topic-interactions {
        width: 60px;
    }

    .topic-right {
        padding: 10px;
        width: calc(100% - 60px);
    }

    .topic-title {
        font-size: 26px;
        line-height: 35px;
    }

    .topic-description {
        font-size: 18px;
        line-height: 24px;
    }

    .topic-section {
        font-size: 18px;
        line-height: 24px;
    }

    .topic-tag p, .topic-header-info {
        font-size: 12px;
        line-height: 17px;
    }

    .btn-topic-header-right {
        width: 25px;
        height: 25px;
    }

    .topic-section img {
        width: 15px;
        height: 15px;
    }
}

/* Pour les écrans de mobiles */
@media (max-width: 576px) {
    .topic-interactions {
        width: 50px;
    }

    .topic-right {
        padding: 10px;
        width: calc(100% - 50px);
    }

    .topic-title {
        font-size: 22px;
        line-height: 30px;
    }

    .topic-description {
        font-size: 16px;
        line-height: 21px;
    }

    .topic-section {
        font-size: 16px;
        line-height: 21px;
    }

    .topic-tag p, .topic-header-info {
        font-size: 12px;
        line-height: 17px;
    }

    .btn-topic-header-right {
        width: 20px;
        height: 20px;
    }

    .topic-section img {
        width: 15px;
        height: 15px;
    }
}

