{{$token := .Token}}
{{$IsLogged := .IsLogged}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/fonts.css">
    <title>Upit</title>
</head>
<body>
    {{if $IsLogged}}
    {{ template "header" .}}
    {{else}}
    <span class="tok" style="display: none;">{{$token.Id}}</span>
    {{ template "headerConnect" .}}
    {{end}}
    <div class="not-header">
        <div class="left-navbar">
            {{ template "leftnavbar" .}}
        </div>
        <div class="content">
            <div class="topics">
                <h1>Popular  Topics</h1>
                {{ template "topic" .}}
            </div>
        </div>
    </div>
</body>
<script src="JS/token.js"></script>
</html>