<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/fonts.css">
    <link rel="icon" href="./assets/images/icon.PNG">
    <title>Upit</title>
</head>
<body>
    <form action="/admin" method="POST" id="load-log-in-page" style="display: none;">
            <input id="token-input" name="token" class="formulaire">
    </form>
    {{ template "header" .}}
    <div class="not-header">
        <div class="left-navbar">
            {{ template "leftnavbar" .}}
        </div>
        <div class="content">
            bah t pas admin mon reuf
            <button onclick="rickrolled()">cliquez pour avoir les droits d'admin</button>
            <script>
                document.querySelectorAll(".topic-header-info span").forEach(element => {
                    formatRelativeTime(element);
                });
                
                document.querySelectorAll("item-list-topic a").forEach(element => {
                    formatEllipsis(element);
                });
                function rickrolled() {
                    var tmp = document.getElementsByClassName('content')
                    for (i = 0; i != tmp.length; i++) {
                        tmp[i].style.backgroundImage = "url('/../assets/images/rick.gif')";
                    }
                }
            </script>
        </div>
    </div>
</body>
</html>