<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/fonts.css">
    <link rel="icon" href="./assets/images/icon.PNG">
    <title>Upit</title>
</head>
<body>
    <form action="/" method="POST" id="load-log-in-page" style="display: none;">
            <input id="token-input" name="token" class="formulaire">
    </form>
    {{ template "header" .}}
    <div class="not-header">
        <div class="left-navbar">
            {{ template "leftnavbar" .}}
        </div>
        <div class="content">
            <div class="topics">
                <h1>Popular  Topics</h1>
                {{ template "topic" .}}
            </div>
            <script>
                document.querySelectorAll(".topic-header-info span").forEach(element => {
                    formatRelativeTime(element);
                });
            </script>
        </div>
    </div>
</body>
</html>