<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/fonts.css">
    <link rel="icon" href="../assets/images/icon.PNG">
    <script src="/../JS/format.js"></script>
    <title>Upit</title>
</head>
<body>
    <form action="/topic/{{.Id}}" method="POST" id="load-log-in-page" style="display: none;">
            <input id="token-input" name="token" class="formulaire">
    </form>
    {{ template "header" .}}
    <div class="not-header">
        <div class="left-navbar">
            {{ template "leftnavbar" .}}
        </div>
        <div class="content">
            <h1>{{.Topic.Name}}</h1>
            <h2>{{.Topic.Description}}</h2>
            {{ template "message" .}}
        </div>
    </div>
    <script>
        document.querySelectorAll(".topic-detail-ctn-content .user-info-and-text .left-part h4").forEach(element => {
            formatRelativeTime(element);
        });
    </script>
</body>
</html>